<!DOCTYPE html>
<html ng-app="vote">
<head>
    <title>Pick Me!</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<body>


  <div class="header">
    <div class="header-buttons">
      <div class='logo'>
       <a href="/"><img src="images/logo-small.png"></a>
      </div>
      <div class="wordbuttons">
       <% if (user) { %>
       <a href="/home">dashboard</a>
       <% } %>
       <a href="/polls">polls</a>
       <% if (!user) { %>
        <a href="/login">log-in</a>
     <% } %>
     <% if (user) { %>
        <a href="/logout">log-out</a>
        <p id="username">Hi, <%= user.local.username %></p>
     <% } %>
      </div>

   </div>
  </div>


<div class="appBody">
<img id="logo" src="images/logo.png"></img>
<center><br>
<p>Pick me, pick me, pick me! Make polls about the things that you care about.</p>
<p>And vote to voice your opinion!Let us know what you think.</p>
<p>Who is your dream girl? Who keeps making you very very very crazy?<p>
<p>*must be user to create poll, non-users can only vote</p>
  <br><br><br><br><br>
<p>GitHub: <a href="https://github.com/jenniepham/voting_app">https://github.com/jenniepham/voting_app</a>
</center>
</div>



</body>
</html>
